.navbar{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 80px;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    padding: 0 150px;
    @media only screen and (min-width:1400px) {
        padding:0 calc((100vw - 1150px)/2) !important;
    }
    color: white;
    .logo{
        width: 150px;
        object-fit: cover;
    }
}
.res-navbar{
    position: absolute;
    top: 0;
    left: 0;
    background:#D1C3AB;
    display: grid;
    width: 100%;
    height: auto;
    padding: 30px;
    z-index: 99999;
    transform: translateY(-100%);
    grid-gap: 20px;
    color: black;
    transition: transform .5s ease;
    svg{
        justify-self: end;
    }
}
.nav-items{
    display: grid;
    grid-auto-flow: column;
    grid-gap: 50px;
    p{
        cursor: pointer;
    }
}
.nav-items a{
    text-decoration: none;
}
.navbar svg{
    display: none;
}
@media only screen and (max-width:768px) {
    .navbar svg{
        display: block;
    }
}
@media only screen and (max-width:640px) {
    .navbar .logo{
        width: 100px;
    }
}