.background-oval {
  width: 50vw;
  height: 50vw;
  position: absolute;
  left: 0px;
  top: 0px;
  transform: translate(-40%,-40%);
  border-radius: 50%;
  background: radial-gradient(50% 50% at 50% 50%, rgba(65, 101, 90, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
  filter: blur(70px);
}
